.logo {
  width: 100%;
  max-width: 64px;
  max-height: 64px;
}

.sidenavTrigger {
  color: #26a69a !important;
}

.menuText {
  color: #000000;
}

@media screen and (max-width: 768px) {
	.logo {
		max-width: 50px;
  	max-height: 50px;
	}
	
}
